<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Sentiment Analyzer</h1>
    <form method="POST" action="/sentiment">
        <textarea name="text" rows="5" cols="40" placeholder="Enter your text here..."></textarea>
        <br>
        <input type="submit" value="Analyze">
    </form>
    {% if sentiment %}
        <p>Sentiment: {{ sentiment }}</p>
        <p>Sentiment Probability: {{ sentiment_prob }}</p>
        <!-- <p>Subjectivity: {{ subjectivity }}</p> -->
    {% endif %}
</body>
</html>
